body{
    background-image : url("background_image.jpg");
    background-position: center center;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    ;

}
input{
    padding: 10px;
}
h1{
  text-align: center;
}
.gallery{
  display: inline-block;
  width : 400px;
  height : 200px;
}
.images{
  text-align: center;
}
.pager{
  text-align: center;
  font-size: 200%;
}
textarea{
  width: 400px;
  height: 80px;
  background-color: #fff;
  resize: none;
}
button{
  width: 100px;
  height: 30px;
  background-color: rgb(37, 154, 184);
  border : none;
  color : #fff;
  font-family: arial;
  cursor: pointer;
}

.container_box{
	display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    margin-bottom: 10px;
    padding: 20px;
}