body{
    background-image : url("background_image.jpg");
    background-position: center center;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    ;

}
input{
    padding: 10px;
}